* {
    box-sizing: border-box;
    
}

h1{
    text-align: center;
    position:relative;
    font-size:175%;
    margin:100px;
    
}

.box{
    background-color: gray;
    border:solid black 1px;
    overflow:hidden;
    margin-right:10px;
    margin-bottom:10px;
    padding:0px 0px 20px 20px;
    
    
    
}

p{
    font-size:20px;
    float:left;
}
#header1{
    
    font-size:35px;
    float:right;
    background-color:#FF8182;
    border:solid black 1px;
    clear:right;
}
#header2{
    text-align:center;
    font-size:35px;
    float:right;
    background-color:#CF222E;
    border:solid black 1px;

}
#header3{
    text-align:center;
    font-size:35px;
    float:right;
    background-color:#EAC54F;
    border:solid black 1px;

}















@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .column-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .column-md-12 {
        width:100%;
        float: left;
        margin-left: auto;
        margin-right: auto;
        
    }
}


@media (max-width: 767px) {
    .column-sm-12 {
        float: left;
        width: 100%;
    }
}